{% extends 'base_admin.html' %}

{% block content %}
<div class="container mt-4">
    <h1>Dodaj produkt</h1>
    <div class="row">
        <div class="col-md-6">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_name">Nazwa produktu:</label>
                    {{ product_form.name }}
                </div>
                <div class="form-group">
                    <label for="id_description">Opis:</label>
                    {{ product_form.description }}
                </div>
                <div class="form-group">
                    <label for="id_price">Cena:</label>
                    {{ product_form.price }}
                </div>
                <div class="form-group">
                    <label for="id_image">Obrazek:</label>
                    {{ product_form.image }}
                </div>
                <button type="submit" class="btn btn-primary">Dodaj produkt</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
