{% extends 'base_admin.html' %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Discover sety</h1>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">

                <div class="card-body">
                    <form method="post" action="{% url 'discover_sets' %}" enctype="multipart/form-data" class="row g-3">
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        <div class="col-12">
                            <label for="inputTitle" class="form-label">Tytuł</label>
                            {{ form.title }}
                            {{ form.title.errors }}
                        </div>
                        <div class="col-12">
                            <label for="inputPrice" class="form-label">Cena</label>
                            {{ form.price }}
                            {{ form.price.errors }}
                        </div>
                        <div class="col-12">
                            <label for="inputDescription" class="form-label">Opis</label>
                            {{ form.description }}
                            {{ form.description.errors }}
                        </div>
                        <div class="col-12">
                            <label for="inputImage" class="form-label">Obraz</label>
                            {{ form.image }}
                            {{ form.image.errors }}
                        </div>

                        <div class="col-12">
                            <label for="inputAmount" class="form-label">Ilość</label>
                            {{ form.amount }}
                            {{ form.amount.errors }}
                        </div>
                        <div class="col-12">
                            <label for="inputIsOn" class="form-label">Czy jest włączony</label>
                            {{ form.is_on }}
                            {{ form.is_on.errors }}
                        </div>
                        <div class="col-12">
                            <label for="inputStars" class="form-label">Gwiazdki</label>
                            {{ form.stars }}
                            {{ form.stars.errors }}
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">Zapisz zmiany</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">

                 <div class="card" style="margin-bottom: 20px;">
                <div class="card-body">
                    <h5 class="card-title mb-4">Lista discover setow</h5>
                    <div class="row">
    {% for product in discover_sets %}
        <div class="col-md-3 mb-4">
            <div class="card">
                <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.title }}">
                <div class="card-body">
                    <h5 class="card-title"><a href="{% url 'editdiscover_set' product.id %}">{{ product.title }}</a></h5>
                    <p class="card-text">{{ product.description }}</p>
                    <p class="card-text">Ilosc: {{ product.amount }}</p>
                    <p class="card-text">Cena: {{ product.price }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>


                </div>
            </div>
            </div>
           <div class="row">

</div>


        </div>
    </div>
</div>
{% endblock %}
