{% extends 'base_admin.html' %}

{% block content %}
    <div class="container" style="margin-top: 20px;">
        <div class="row">
            <div class="col-md-3">
                <div class="card text-center mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Liczba zamówień</h5>
                        <p class="card-text">{{ orders_count }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-center mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Liczba użytkowników</h5>
                        <p class="card-text">{{ users_count }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-center mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Przychody</h5>
                        <p class="card-text">{{ revenue }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-center mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Produkty na stanie</h5>
                        <p class="card-text">{{ products_in_stock }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
     <div class="container">
         <h1 class="mt-4">Stan produktów</h1>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Nazwa</th>
                                <th scope="col">Cena</th>
                                <th scope="col">Akcje</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for product in not_shipped_orders %}
                                <tr>
                                    <th scope="row">{{ product.id }}</th>
                                    <td>{{ product.date }}</td>
                                    <td>{{ product.price }}</td>
                                    <td>
                                        <a href="{% url 'mark_order_as_shipped' product.id %}" class="btn btn-primary">Oznacz jako wyslane</a>
                                        <a href="{% url 'order_detail' product.id %}" class="btn btn-primary">Szczegóły</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
    </div>
     </div>
{% endblock %}
