{% extends 'base_admin.html' %}

{% block content %}
     <div class="container">
         <h1 class="mt-4">Opinie</h1>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Nazwa</th>
                                <th scope="col">Ocena</th>
                                <th scope="col">Opis</th>
                                <th scope="col">Akcje</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for opinion in opinions %}
                                <tr>
                                    <th scope="row">{{ opinion.id }}</th>
                                    <td>{{ opinion.product.title }}</td>
                                    <td>{{ opinion.rated }}/5</td>
                                    <td>{{ opinion.description }}</td>
                                    <td>
                                        <a href="{% url 'delete_opinion' opinion.id %}" class="btn btn-danger">Usuń</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
        </div>
     </div>
{% endblock %}
