{% extends 'base.html' %}

{% block content %}
{% load static %}
{% include 'utilities/navbar.html' %}

<!-- Zdjecia -->
<div class="container-fluid p-0">
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner" style="height: 75vh;">
            <div class="carousel-item active">
                <img src="{% static 'images/collection-item1.jpg' %}" class="d-block w-100 h-100" alt="..."
                    style="object-fit: contain;">
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/collection-item2.jpg' %}" class="d-block w-100 h-100" alt="..."
                    style="object-fit: contain;">
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/collection-item3.jpg' %}" class="d-block w-100 h-100" alt="..."
                    style="object-fit: contain;">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<!-- Polecane perfumy --->
<div class="container-fluid p-0" style="background-color: #f2f2f2">
<div class="container p-5" >
    <h1>Polecane perfumki</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">
         {% for product in fproducts %}
        <div class="col">
            <div class="card h-100 " >
              <img src="{{ product.image.url }}" class="card-img-top" style="height: 25vw;object-fit: contain;" alt="..." >
             <div class="card-body">

                    <h5 class="card-title">{{ product.title }}</h5>
                    <p class="card-text">{{ product.description }}</p>
                </div>
                <div class="card-footer d-flex justify-content-between align-items-center">
                    <p class="card-text">Price: {{ product.price }} PLN</p>
                    <a href="{% url 'product_detail' product.id %}" class="btn btn-primary">Details</a>
                </div>
    </div>
  </div>
        {% endfor %}
</div>



</div>

</div>

<!-- Blok informacyjny --->
<div class="container-fluid " style="background-color: #333333">
    <div class="row g-3 text-center">
        <div class="col p-5">
            <img src="https://png.pngtree.com/png-vector/20191105/ourmid/pngtree-delivery-truck-icon-png-image_1959172.jpg" class="img-thumbnail " style="width: auto; height: 195px;"alt="...">
            <p style="color: gold">Darmowa wysylka</p>
        </div>
        <div class="col p-5">
            <img src="https://png.pngtree.com/png-vector/20191105/ourmid/pngtree-delivery-truck-icon-png-image_1959172.jpg" class="img-thumbnail " style="width: auto; height: 195px;"alt="...">
            <p style="color: mediumseagreen">Darmowa wysylka</p>
        </div>
         <div class="col p-5">
            <img src="https://png.pngtree.com/png-vector/20191105/ourmid/pngtree-delivery-truck-icon-png-image_1959172.jpg" class="img-thumbnail " style="width: auto; height: 195px;"alt="...">
            <p style="color: rosybrown">Darmowa wysylka</p>
        </div>
    </div>
</div>

<!-- Perfumy dla niego --->
<div class="container-fluid" style="background-color: #f2f2f2">
<div class="container p-5" >
    <h1>Perfumy dla niego</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      {% for product in products %}
            <div class="col">
            <div class="card h-100">
              <img src="{{ product.image.url }}" style="height: 25vw;object-fit: contain;" alt="..." >
             <div class="card-body">

                    <h5 class="card-title">{{ product.title }}</h5>
                    <p class="card-text">{{ product.description }}</p>
                </div>
                <div class="card-footer d-flex justify-content-between align-items-center">
                    <p class="card-text">Price: {{ product.price }} PLN</p>
                    <a href="{% url 'product_detail' product.id %}" class="btn btn-primary">Details</a>
                </div>
    </div>
  </div>
        {% endfor %}
</div>
</div>

</div>
    <!--    Perfumy dla niej --->
<div class="container p-5">
    <h1>Perfumy dla niej</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      {% for product in products %}
            <div class="col">
            <div class="card h-100">
              <img src="{{ product.image.url }}" style="height: 25vw;object-fit: contain;" alt="..." >
             <div class="card-body">

                    <h5 class="card-title">{{ product.title }}</h5>
                    <p class="card-text">{{ product.description }}</p>
                </div>
                <div class="card-footer d-flex justify-content-between align-items-center">
                    <p class="card-text">Price: {{ product.price }} PLN</p>
                    <a href="{% url 'product_detail' product.id %}" class="btn btn-primary">Details</a>
                </div>
    </div>
  </div>
        {% endfor %}
</div>
</div>


{% endblock %}
