{% extends 'base.html' %}

{% block content %}
{% load static %}

<!-- Zdjecia -->
<div class="container-fluid p-0">
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'images/video-item.jpg' %}" class="d-block w-100" alt="..." style="height: 75vh;">
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/collection-item2.jpg' %}" class="d-block w-100" alt="..." style="height: 75vh;">
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/collection-item3.jpg' %}" class="d-block w-100" alt="..." style="height: 75vh;">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>


<!-- Polecane perfumy --->
<div class="container-fluid p-0" style="background-color: #f2f2f2">
<div class="container p-5" >
    <p class="h1 font-weight-bold">Polecane Perfumy</p>
    <div class="row row-cols-1 row-cols-md-3 g-4">
         {% for product in fproducts %}
        <div class="col">
            <div class="card h-100" >
              <img src="{{ product.image.url }}" class="card-img-top" style="height: 22vw;object-fit: contain; margin-top: 25px;" alt="..." >
             <div class="card-body">

                    <h5 class="card-title">{{ product.title }}</h5>
                <p class="card-text">
 {% for i in '01234'|make_list %}
                                        {% if i|add:'0' < product.stars %}
                                            <i class="bi bi-star-fill"></i>
                                        {% else %}
                                            <i class="bi bi-star"></i>
                                        {% endif %}
                                    {% endfor %}                </p>

                </div>
                <div class="card-footer d-flex justify-content-between align-items-center">
                    <p class="card-text">Cena: {{ product.price }} PLN</p>
                    <a href="{% url 'product_detail' product.id %}" class="btn btn-primary">Szczegóły</a>
                </div>
    </div>
  </div>
        {% endfor %}
</div>



</div>

</div>
<!-- Perfumy dla niego --->
<div class="container-fluid" style="background-color: rgba(0, 0, 0, 0.1);   ">
<div class="container p-5" >
    <h1 class="font-weight-bold">Perfumy dla niego</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      {% for product in men_products %}
            <div class="col">
            <div class="card h-100" >
              <img src="{{ product.image.url }}" class="card-img-top" style="height: 20vw;object-fit: contain; margin-top: 10px;" alt="..." >
             <div class="card-body">

                    <h5 class="card-title">{{ product.title }}</h5>
                <p class="card-text">
 {% for i in '01234'|make_list %}
                                        {% if i|add:'0' < product.stars %}
                                            <i class="bi bi-star-fill"></i>
                                        {% else %}
                                            <i class="bi bi-star"></i>
                                        {% endif %}
                                    {% endfor %}                </p>

                </div>
                <div class="card-footer d-flex justify-content-between align-items-center">
                    <p class="card-text">Cena: {{ product.price }} PLN</p>
                    <a href="{% url 'product_detail' product.id %}" class="btn btn-primary">Szczegóły</a>
                </div>
    </div>
  </div>
        {% endfor %}
</div>
</div>

</div>
    <!--    Perfumy dla niej --->
<div class="container p-5">
    <h1 class="font-weight-bold">Perfumy dla niej</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      {% for product in woman_products %}
            <div class="col">
            <div class="card h-100" >
              <img src="{{ product.image.url }}" class="card-img-top" style="height: 20vw;object-fit: contain; margin-top: 10px;" alt="..." >
             <div class="card-body">

                    <h5 class="card-title">{{ product.title }}</h5>
                <p class="card-text">
 {% for i in '01234'|make_list %}
                                        {% if i|add:'0' < product.stars %}
                                            <i class="bi bi-star-fill"></i>
                                        {% else %}
                                            <i class="bi bi-star"></i>
                                        {% endif %}
                                    {% endfor %}                </p>

                </div>
                <div class="card-footer d-flex justify-content-between align-items-center">
                    <p class="card-text">Cena: {{ product.price }} PLN</p>
                    <a href="{% url 'product_detail' product.id %}" class="btn btn-primary">Szczegóły</a>
                </div>
    </div>
  </div>
        {% endfor %}
</div>
</div>


    <!-- Blok informacyjny --->
<div class="container-fluid" style="background-color: #333333">
    <div class="row align-items-start text-center">
        <div class="col-12 col-md p-3"> <!-- Dodano klasę col-12 -->
            <img src="https://png.pngtree.com/png-vector/20191105/ourmid/pngtree-delivery-truck-icon-png-image_1959172.jpg" class="img-thumbnail" style="width: auto; height: 100px;" alt="...">
            <p style="color: gold;"class="h4 mt-3 font-weight-bold">Darmowa wysylka</p>
        </div>
        <div class="col-12 col-md p-3"> <!-- Dodano klasę col-12 -->
            <img src="https://www.shutterstock.com/image-vector/shipping-fast-delivery-24h-van-260nw-1511607011.jpg" class="img-thumbnail" style="width: auto; height: 100px;" alt="...">
            <p style="color: mediumseagreen"class="h4 mt-3 font-weight-bold">Wysylka w 24h</p>
        </div>
        <div class="col-12 col-md p-3"> <!-- Dodano klasę col-12 -->
            <img src="https://png.pngtree.com/png-vector/20191105/ourmid/pngtree-delivery-truck-icon-png-image_1959172.jpg" class="img-thumbnail" style="width: auto; height: 100px;" alt="...">
            <p style="color: rosybrown"class="h4 mt-3 font-weight-bold">Mozliwosc zwrotu</p>
        </div>
    </div>
</div>


{% endblock %}
